.card{

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0000005f;
  padding:20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;

      }

.card .card-image{  
   
  max-width: 70%;
  height: auto;  
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .cart-title{

   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   color: hsl(0, 0%, 20%);
}

.card.card-text{
   font-family: Arial, Helvetica, sans-serif;
   color: hsl(0, 0%, 40%); 


}


.btn{

  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}